* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

body.night {
  background-color: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body.lock {
  overflow: hidden;
}

ul {
  list-style: none;
}

.title {
  padding: 10px 10px 30px 10px;
  margin: 10px;
  color: #15afaf;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  padding: 10px 10px 15px 10px;
  margin: 10px;
  color: #15afaf;
  font-size: 28px;
  font-weight: 600;
}

.wrapper {
  max-width: 1350px;
  margin: auto;
}

.header {
  padding: 0px 0px 10px 0px;
}

.header_body {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: #15afaf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 100px \ 100px minmax(1fr, 600px) minmax(1fr, 1000px);
}

.header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.header__logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid #C8AA66;
}

.header__select {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding-left: -500px;
}

.header__select-body {
  width: 100px;
  border: 3px  solid #333;
  font-size: 18px;
  color: #ffffff;
  background-color: #15afaf;
  text-transform: uppercase;
}

.header__burger {
  display: none;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.header__list li:last-child {
  border-right: #333 2px solid;
}

.header__list li {
  border-left: #333 2px solid;
  padding: 30px 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.header__list li:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgba(60, 236, 69, 0.445);
}

.header__link {
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}

.content {
  max-width: 1350;
  margin: 0px auto;
}

.furniture__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 30px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.furniture__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(83, 208, 224, 0.205);
  padding: 30px 10px;
  border-radius: 10px;
  margin: 30px 0px;
}

.furniture__item a img {
  width: 300px;
  height: 300px;
  min-height: 100px;
  min-width: 100px;
}

.furniture__item a {
  padding: 0px 0px 10px 0px;
  color: #333;
}

.furniture__name {
  font-size: 24px;
  font-weight: 700;
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.furniture__buy {
  background-color: #15afaf;
  width: 100px;
  height: 100%;
  max-height: 45px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 10px;
  padding: 0px 20px;
  -ms-grid-column-align: start;
      justify-self: start;
  font-weight: 600;
  border: 4px #333 solid;
}

@media (max-width: 1000px) {
  .furniture__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .furniture__item {
    margin: 30px 10px;
    padding: 30px 10px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .header__list li {
    border: none;
  }
  .header__list li:last-child {
    border: none;
  }
  .header__burger {
    position: relative;
  }
  .header__menu {
    position: absolute;
    top: 90px;
    right: -570px;
    background-color: #15afaf;
    min-width: 300px;
    padding: 30px;
    text-align: right;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 90px;
    right: 10px;
  }
  .header__burger {
    width: 30px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-rows: (8px)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 8px)/1fr;
  }
  .header__burger:before {
    content: "";
    height: 3px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 0px;
  }
  .header__burger:after {
    content: "";
    height: 3px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    bottom: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    height: 3px;
    width: 30px;
    background-color: white;
    position: absolute;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 12px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}
