.hat {
	background: black;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 102px;
	text-align: center;
	border-radius: 50px;
}

.hat__content {
	position: absolute;
	left: 46.25%;
}

.hat__logo {
	width: 130px;
	height: 120px;
	text-align: center;
}

.menu{
	opacity: 0.3;
	transition: 1s;
}
.menu:hover{
	transition: 1s;
	opacity: 1;
}

.menu__point {
	margin: 0px;
	font-size: 20px;
	text-decoration: none;
	background: #161936;
	padding: 10px;
	color: #516E7A;
	transition: 0.8s;

}
.menu__point:hover{
text-shadow: rgb(255, 255, 255) 1px 0 10px;
transition: 0.3s;

}
.menu__point:active{
border: solid #161936 8px;

}
.menu__point:visited {

	text-decoration: none;
	color: #516E7A;
}

.menu__point__put {
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	background: #506F65;
	color: white;
}
.menu__point__put:hover {
color: #7cc7af94;
transition: 0.3s;
}
.menu__point__put:visited {
	margin: 10px;
	text-decoration: none;
	color: white;
}


.block__text {
	max-height: 200px;
	max-width: 250px;
	position: absolute;
	bottom: 10%;
	animation: translate4 1.2s;
}





/*Дизайн окремих елелментів*/
.block__img {
	position: absolute;
	border: solid #516E7A;
	margin: 10px;
	width: 50px;
	height: 50px;
	border-radius: 6px;
}

.block__img:active {
transform: matrix(6,0,0,6,350,0);
transition: 0.8s;
}

.img1 {
	left: 0px;
	animation: translate1 0.8s;
}

.img2 {
	animation: translate2 0.8s;
	left: 70px;
}

.img3 {
	animation: translate3 0.8s;
	left: 140px;
}

.img4 {
	animation: translate1 0.8s;
	left: 0px;
	top: 300px;
}

.img5 {
	animation: translate2 0.8s;
	left: 70px;
	top: 300px;
}

.img6 {
	animation: translate3 0.8s;
	left: 140px;
	top: 300px;
}

body {
	color: #556D7A;
	font-size: 20px;
	font-family: Elephant;
	background: repeat url(images/backG.jpg);
	font-weight: 500;
}

@keyframes translate1 {
	0% {

		left: -100px;
	}

	100% {
		left: 0px;
	}
}

@keyframes translate2 {
	0% {

		left: -100px;
	}

	100% {
		left: 70px;
	}
}

@keyframes translate3 {
	0% {

		left: -100px;
	}

	100% {
		left: 140px;
	}
}

@keyframes translate4 {
	0% {

		left: -300px;
	}

	100% {
		left: 7px;
	}
}