.hat {
	background: black;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 102px;
	text-align: center;
	border-radius: 50px;
}

.hat__content {
	position: absolute;
	left: 46.25%;
}

.hat__logo {
	width: 130px;
	height: 120px;
	text-align: center;
}

.menu{
	opacity: 0.3;
	transition: 1s;
}
.menu:hover{
	transition: 1s;
	opacity: 1;
}

.menu__point {
	margin: 0px;
	font-size: 20px;
	text-decoration: none;
	background: #161936;
	padding: 10px;
	color: #516E7A;
	transition: 0.8s;

}
.menu__point:hover{
text-shadow: rgb(255, 255, 255) 1px 0 10px;
transition: 0.3s;

}
.menu__point:active{
border: solid #161936 8px;

}
.menu__point:visited {

	text-decoration: none;
	color: #516E7A;
}

.menu__point__put {
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	background: #506F65;
	color: white;
}
.menu__point__put:hover {
color: #7cc7af94;
transition: 0.3s;
}
.menu__point__put:visited {
	margin: 10px;
	text-decoration: none;
	color: white;
}
.form{
	position: relative;
}
.form::after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background: rgba(139, 137, 137, 0.288) url(load.gif) center/ 100px no-repeat;
	width: 100%;
	height: 460px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}

.form._sending::after{
	opacity: 1;
	visibility: visible;
}
.form__content {
	text-align: center;
}

.form__title {
	font-family: Elephant;
}

.form__text {
	border: solid #516E7A;
	border-radius: 7px;
	font-size: 20px;
	margin: 10px;
	font-family: Elephant;
}
.form__text._error:focus {
box-shadow: 0 0 15px #7fa36a;
}
.form__text._error {
box-shadow: 0 0 15px red;
}

.form__button {
	border: solid #516E7A;
	border-radius: 7px;
	color: #516E7A;
	font-size: 20px;
	margin: 10px;
	font-family: Elephant;
	transition: 0.2s;
}
.form__button:hover {
background: #cccecf;
transition: 0.2s;
}
.form__button:active {
background: #7d8081;
color: #161936;
}

body {
	color: #556D7A;
	font-size: 20px;
	font-family: Elephant;
	background: repeat url(Зображення/Фонсторінки.jpg);
	background-size: 1370px 670px;
}